/* ///////////////////////////////////////////////////////
    Subj: Coding Dojo > Web Fundamentals > CSS
    Button Up
    By: Virgilio D. Cabading Jr.
    Created: October 12. 2021
    /////////////////////////////////////////////////////// */

.search_button {                                                /* Class Search Button */
}

.+_button {                                                     /* Class + Button */
}

.create_account_button {                                        /* Class Create Account Button */

}