/* ///////////////////////////////////////////////////////
    Subj: Coding Dojo > Web Fundamentals > CSS
    Button Up
    By: Virgilio D. Cabading Jr.
    Created: October 12. 2021
    /////////////////////////////////////////////////////// */

* {
    padding: 10px;
    margin: 20px;
    width: fit-content;
}

#search_button {                                                /* Search Button */
    background-color: aquamarine;
    color: seagreen;
    border-color: seagreen;
    border-width: 2px;
    border-style: solid;
}

#plus_button {                                                  /* Plus Button */
    background-color: seagreen;
    color: white;
    border-color: seagreen;
    border-width: 2px;
    border-style: solid;
}

#create_account_button {                                        /* Create Account Button */
    background-color: blue;
    color: white;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}