/* ///////////////////////////////////////////////////////
    Subj: Coding Dojo > Web Fundamentals > CSS
    Button Up
    By: Virgilio D. Cabading Jr.
    Created: October 12. 2021
    /////////////////////////////////////////////////////// */

#search_button {                                                /* Search Button */
    background-color: aquamarine;
    color: seagreen;
}

#plus_button {                                                  /* Plus Button */
    background-color: seagreen;
    color: white;
}

#create_account_button {                                        /* Create Account Button */
    background-color: blue;
    color: white;
}